<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Data Display</title>
	</head>
	<body class="bg-indigo-100">
		<div class="container mx-auto">
			<h1 class="text-6xl mt-10 mb-10 font-normal">ID_amy_2024-07-18T10:26:27</h1>
			<div class="flex gap-6 mb-10 font-normal text-lg text-white">
				<div class="rounded-xl p-3 bg-stone-800">18.07.2024 10:26</div>
				<div class="rounded-xl p-3 bg-stone-800">Amy</div>
				<div class="rounded-xl p-3 bg-stone-800">Drop-In WM 2024</div>
			</div>

			<div class="text-2xl font-medium">
				<div class="bg-stone-800 text-white p-4 mb-4 rounded-xl">
					<div class="flex justify-between items-center">
						<span class="font-light">
							<span class="font-medium">/rosout</span>
						</span>
						<span class="text-stone-100 font-light">rcl_interfaces/msg/Log</span>
					</div>
				</div>

				<div class="bg-white p-4 mb-4 rounded-xl">
					<div class="flex justify-between items-center">
						<span class="font-medium">
							<span class="font-semibold">/pose_with_covariance</span>
						</span>
						<span class="text-stone-900 font-light">
							geometry_msgs/msg/PoseWithCovarianceStamped
						</span>
					</div>
				</div>

				<div class="bg-stone-800 text-white p-4 mb-4 rounded-xl">
					<div class="flex justify-between items-center">
						<span class="font-light">
							<span class="font-medium">/test</span>
						</span>
						<span class="text-stone-100 font-light">geometry_msgs/msg/blub</span>
					</div>
				</div>

				<div class="bg-white p-4 mb-4 rounded-xl">
					<div class="flex justify-between items-center">
						<span class="font-medium">
							<span class="font-semibold">/pose_with_doctor_who</span>
						</span>
						<span class="text-stone-900 font-light">geometry_msgs/msg/PoseYes</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
