<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://cdn.tailwindcss.com"></script>
		<title>Data Display</title>
	</head>
	<body class="bg-indigo-100">
		<div class="container mx-auto">
      
      <div class="absolute top-5 right-5 flex gap-4">
				<div class="rounded-xl p-3 bg-stone-800 text-white cursor-pointer">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
						<path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
						<path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
					</svg>
				</div>
				<div class="rounded-xl p-3 bg-stone-800 text-white cursor-pointer">
					<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
						<path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
						<path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
					</svg>
				</div>
			</div>

			<h1 class="text-6xl mt-10 mb-10 font-normal">ID_amy_2024-07-18T10:26:27</h1>
			<div class="flex gap-6 mb-10 font-normal text-lg text-white">
				<div class="rounded-xl p-3 bg-stone-800">Amy</div>
				<div class="rounded-xl p-3 bg-stone-800">18.07.2024 10:26</div>
				<div class="rounded-xl p-3 bg-stone-800">Drop-In WM 2024</div>
				<div class="rounded-xl p-3 bg-stone-800">3 min</div>
				<div class="rounded-xl p-3 bg-stone-800">40 GB</div>
			</div>

			<div class="grid grid-cols-1 md:grid-cols-2 gap-4 text-base font-medium">
				<div class="bg-white p-4 rounded-xl">
					<div class="flex justify-between items-center">
							<span class="font-semibold">/rosout</span>
              <span class="font-medium flex items-center gap-5">
              <span class="text-stone-900 font-light">
                testing/msg/PoseWithCovarianceStamped
              </span>
              <span class="text-white font-normal rounded-lg px-3 py-1 bg-stone-800"">4</span>
						</span>
					</div>
				</div>

				<div class="bg-white p-4 rounded-xl">
					<div class="flex justify-between items-center">
            <span class="font-semibold">/oh_wie_toll</span>
						<span class="font-medium flex items-center gap-5">
              <span class="text-stone-900 font-light">geometry_msgs/msg/WellYes</span>
              <span class="text-white font-normal rounded-lg px-3 py-1 bg-stone-800"">4</span>
						</span>
					</div>
				</div>

				<div class="bg-white p-4 rounded-xl">
					<div class="flex justify-between items-center">
							<span class="font-semibold">/pose_with_doctor_who</span>
            <span class="font-medium flex items-center gap-5">
              <span class="text-stone-900 font-light">geometry_msgs/msg/PoseYes</span>
              <span class="text-white font-normal rounded-lg px-3 py-1 bg-stone-800"">7</span>
						</span>
					</div>
				</div>

				<div class="bg-white p-4 rounded-xl">
					<div class="flex justify-between items-center">
							<span class="font-semibold">/pose_with_me</span>
              <span class="font-medium flex items-center gap-5">
              <span class="text-stone-900 font-light">geometry_msgs/msg/Test</span>
              <span class="text-white font-normal rounded-lg px-3 py-1 bg-stone-800"">42</span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
