<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto">
        <h1 class="text-5xl mt-12 mb-3 font-light text-gray-500">
            ID_amy_2024-07-18T10:26:27
        </h1>
        <div class="flex flex-row justify-start gap-4">
            <div class="mt-5 mb-5 border rounded-lg p-2">
                18.07.2024 10:26
            </div>
            <div class="mt-5 mb-5 border rounded-lg p-2">
                Amy
            </div>
            <div class="mt-5 mb-5 border rounded-lg p-2">
                Drop-In WM 2024
            </div>
        </div>

        <div class="flex flex-row mt-5 text-xl font-medium border rounded-lg ">
            <table class="table-fixed w-full ">
                <tbody> 
                  <tr class="bg-white ">
                    <td class="p-2 text-2xl font-medium text-black">Topics</td>
                    <td class="text-2xl font-medium text-black">Message Types</td>
                  </tr>
                  <tr class="odd:bg-white even:bg-gray-100">
                    <td class="p-2">/rosout </td>
                    <td>rcl_interfaces/msg/Log</td>
                  </tr>
                  <tr class="odd:bg-white even:bg-gray-100">
                    <td class="p-2">/pose_with_covariance </td>
                    <td>geometry_msgs/msg/PoseWithCovarianceStamped </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>

</html>