<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>ROS Bag Startpage</title>
</head>

<body class="bg-orange-100">
  <div class="container mx-auto">
    <h1 class="text-6xl mt-10 mb-10 font-normal">
      ROS bag search
    </h1>


    <section>
      <header class="space-y-4">
        <form class="group relative">
          <input class="
        w-full text-lg leading-6 text-stone-900 font-normal placeholder-stone-400
        rounded-xl py-3 px-6 focus:ring-2 focus:ring-black" type="text" aria-label="Filter projects"
            placeholder="Search ROS bags...">
        </form>
      </header>
    </section>
    <div class="mt-10 flex gap-4 flex-col">
      <button class="rounded-xl px-8 py-6 w-full hover:bg-black hover:text-white bg-white">
        <div class="flex justify-between items-center">
          <div>
            <h2 class="text-2xl font-medium">ID_amy_2024-07-18T10:26:27</h2>
            <div class="flex mt-4 gap-4">
              <div class="font-light">30.10.2023 19:44</div>
              <div class="font-light">11:29 min</div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="self-center mr-4">4 GB</div>
            <div class="rounded-xl p-3 bg-stone-800 text-white cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
              </svg>
            </div>
          </div>
        </div>
      </button>      
      
      
      <button class="rounded-xl px-8 py-6 w-full hover:bg-black hover:text-white bg-white">
        <div class="flex justify-between items-center">
          <div>
            <h2 class="text-2xl font-medium">ID_amy_2024-07-18T10:26:27</h2>
            <div class="flex mt-4 gap-4">
              <div class="font-light">30.10.2023 19:44</div>
              <div class="font-light">11:29 min</div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="self-center mr-4">4 GB</div>
            <div class="rounded-xl p-3 bg-stone-800 text-white cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
              </svg>
            </div>
          </div>
        </div>
      </button> 
      <button class="rounded-xl px-8 py-6 w-full hover:bg-black hover:text-white bg-white">
        <div class="flex justify-between items-center">
          <div>
            <h2 class="text-2xl font-medium">ID_amy_2024-07-18T10:26:27</h2>
            <div class="flex mt-4 gap-4">
              <div class="font-light">30.10.2023 19:44</div>
              <div class="font-light">11:29 min</div>
            </div>
          </div>
          <div class="flex items-center">
            <div class="self-center mr-4">4 GB</div>
            <div class="rounded-xl p-3 bg-stone-800 text-white cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
              </svg>
            </div>
          </div>
        </div>
      </button>         
    </div>
  </div>


</body>

</html>