<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-orange-100">
  <div class="container mx-auto">
    <h1 class="text-6xl mt-10 mb-10 font-normal">
      ROS bag search
    </h1>


    <section>
      <header class="space-y-4">
        <form class="group relative">
          
          <input class="
        w-full text-lg leading-6 text-stone-900 font-normal placeholder-stone-400
        rounded-xl py-3 px-6 border-none" type="text" aria-label="Filter projects"
            placeholder="Search ROS bags...">
        </form>
      </header>
    </section>
    <div class="mt-10 flex gap-4 flex-col">
      <button class=" rounded-xl  px-8 py-6 w-full 
      hover:bg-orange-400 hover:text-white bg-white">
        <div class=" flex justify-between">
          <h2 class="text-2xl font-medium "> ID_amy_2024-07-18T10:26:27</h2>
          <div>4 GB</div>
        </div>
        <div class="flex justify-between mt-4">
          <div class="font-light">30.10.2023 19:44 </div>
          <div>11:29 min</div>
        </div>
      </button>
      <button class="  rounded-xl  px-8 py-6 w-full
      hover:bg-black hover:text-white bg-white">
        <div class=" flex justify-between">
          <h2 class="text-2xl font-medium "> ID_amy_2024-07-18T10:26:27</h2>
          <div>4 GB</div>
        </div>
        <div class="flex justify-between mt-4">
          <div class="font-light">30.10.2023 19:44 </div>
          <div>11:29 min</div>
        </div>
      </button>
      <button class="  rounded-xl  px-8 py-6 w-full
      hover:bg-indigo-400 hover:text-white bg-white">
        <div class=" flex justify-between">
          <h2 class="text-2xl font-medium "> ID_amy_2024-07-18T10:26:27</h2>
          <div>4 GB</div>
        </div>
        <div class="flex justify-between mt-4">
          <div class="font-light">30.10.2023 19:44 </div>
          <div>11:29 min</div>
        </div>
      </button>
    </div>
  </div>


</body>

</html>